 /* Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) { 
    .container{
        width: 100%;
        margin-top: 20px;
        justify-content: center;
        padding: 3px;
        font-size: 10px;
    }
    .intro_text{
        width: 100%;
        padding: 10px;
    }
    .search{
        width: 100%;
    }
    .menu_item{
        width: 100%;
    } 
    .menu ul{
        margin: 0;
        /* padding: 0; */
    }
    .menu ul li {
        padding:1%;
    }
    .photo{
        display: none;
    }
    .topic_bar{
        width: 100%;
        padding: 2px ;                                                                                                                                                                                                                                                               ;
    }
    .topic{
        height: 50px;
        width: 50px;
    }
   
    .t5{
        display: none;
    }
    .icon{
      margin-top: 8px;
    }
    .icon,h6{
        font-size: 10px;
    }
    .icon_fs{
        font-size: 8px;
    }
    .explore_button {
       display: none;
    }
    .margin_top{
        margin-top: 50px;
    }
    .side_bar{
        display: none;
    }
    .post_container{
        width: 100%;
    }
    .meta_data{

        width: 24%;
    }
    .info{
        width: 70%;
    }
    .meta_data i{
        padding: 1px;
        font-size: 10px;
    }
    .post_bottom a{
        font-size: 10px;
    }
    .author{
        width: 50%;
    }
    .info .author img{
        width: 15px;
        height: 15px;
     }
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    
 }                                                                                                             

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { }                                                                                                                                                   

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {  }
 /*Extra Large devices (desktops, 992px and up) */
 @media (min-width: 1200px) and (max-width: 1399.98px) {  }
/* Extra extra large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {  }
/* header-start */